<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Update Your Settings</h1>
        <form method="POST" action="{{ url_for('settings') }}">
            {{ form.hidden_tag() }}
            <form method="POST" action="{{ url_for('settings') }}">
                {{ form.hidden_tag() }}
                {{ form.age.label }} {{ form.age() }}
                {{ form.gender.label }} {{ form.gender() }}
                {{ form.height_feet.label }} {{ form.height_feet() }}
                {{ form.height_inches.label }} {{ form.height_inches() }}
                {{ form.desired_weight.label }} {{ form.desired_weight() }}
                {{ form.current_weight.label }} {{ form.current_weight() }}
                {{ form.activity_level.label }} {{ form.activity_level() }}
                {{ form.time_frame.label }} {{ form.time_frame() }}
                {{ form.goal.label }} {{ form.goal() }}
                <button type="submit">Save Settings</button>
            </form> 
    </div>
    {{ bootstrap.load_js() }}
</body>
</html>
